.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 16px;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    align-items: flex-start;
    padding: 64px;
    gap: 32px;
  }
}

.about-image img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 16px;
}

.about-text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

@media (min-width: 768px) {
  .about-text {
    max-width: 600px;
    text-align: left;
  }
}

.about-headings h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #000000;
  margin-bottom: 1rem;
}
