/* src/styles/About.css */

.about-container {
  display: flex;
  align-items: flex-start; /* Align items at the start of the flex container */
  padding: 130px;
  gap: 16px; /* Space between the image and text */
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-text {
  max-width: 600px;
  display: flex;
  flex-direction: column; /* Stack h2 and p vertically */
  justify-content: flex-start; /* Align text to the top of the container */
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-left: 0; /* or another value appropriate for the general layout */
  font-family: "Montserrat", sans-serif;
  font-size: 1rem; /* Reset other styles as needed */
  font-weight: 2rem;
  color: #000000;
  text-align: left;
  margin-bottom: 1rem;
}
