@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Footer specific styles */
.footer-container p {
  margin-left: 8.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #000000;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
}

/* Reset the p tag globally or in specific containers */
